.container {
    min-height: 100vh;
    padding: 0 7rem;
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url("https://scontent.fbkk5-5.fna.fbcdn.net/v/t1.6435-9/181810161_1597340833990033_4751559292311561785_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_ohc=K0o13JgRoFQAX9qVTzo&_nc_ht=scontent.fbkk5-5.fna&oh=d135c21bbad0eea95faa7d0abb5f7097&oe=61707A88");
  }
  
  .text{
    text-align: center;
    background-color: #F5DE8D;
    height: 1000;
  }
  
  .inputDisplay {
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 600px;
    height: auto;
    background: #ffffff;
    border-radius: 30px;
    margin-top: 0px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    line-height: 6px;
    box-shadow: 2px 2px grey;
    }
  
  .button1:hover {
    background-color: #f8c829;
    color: white;
  }
  
  .listItem {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    font-size: 1.4rem;
  
    color: #f1ede2;
  }
  
  .listItem1 {
    align-items: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    padding: 0 1.5rem;
    color: #000000;
    display: flex;
    flex-direction: column;
  }
  
  .listItem2 {
    align-items: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    color: #000000;
    display: flex;
    flex-direction: column;
  }
  
  .listItem3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: #000000;
  }
  
  .img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
  }
  
  .input {
    color: #fcfcfa;
    padding: 0 6rem;
  }
  
  .input2 {
    color: #fcfcfa;
    padding: 0 10rem;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 100px auto;
    /* grid-gap: 2px; */
    /* background-color: #2196F3; */
    margin-bottom: 100px;
  }
  
  .gridContainer>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
  }
  
  .gridContainer>div>input {
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size: 1.2rem;
  }
  
  
  .topnav {
    overflow: hidden;
    background-color: #222222;
    position: fixed;
      top: 0;
      width: 100%;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }